logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
build.err
build.log
compile.done
compile.log
*.db
*.sqlite
*.sqlite3
.env
.env.*
.cache
coverage
.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/live2d-models/